*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  scroll-behavior: smooth;
  background-color: rgb(40, 40, 40);
  color: white;
}

ul li{
  list-style: none;
}

ul li a {
  text-decoration: none;
}